.color-best{
    background-color: #242e38;
}

.bestsellerimg2{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
}
.select-month{
    margin-top: 20px;
}
.sort-Date{
    margin-left: 100px;
}
.sort-Amount{
    margin-left: 300px;
}
.sort-font{
    color: white;
}
.sort{
    display: flex;
    justify-content: center;
    font-size:xx-large
}

.sort-Amount:hover{
    background-color: yellow;
}
