.color-sales{
    background-color: #242e38;
}

.sel-month{
    color: #EAC43D;
    margin-top: 50px;
}

.card_net-worth{
    color: #EAC43D;
    background-color :#242e38;
    margin-top: 30px;
    padding: 5% 30% 100% 30%;
}
.net-worth{
    font-size: xx-large;
    color: black;
    border-radius: 3rem;
    border-color: #EAC43D;
    display:contents;
    background-color: #242e38;
}

.salesimg2{
    margin-top: 100px;
    padding-top: 20px;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
}
